name: "海边捡点贝壳"
description: "个人笔记"
author: xieyn
keywords: [岩土, Mathematica]

exclude: [README.md, Makefile, vendor]

url: https://xienotes.net
baseurl: ""

permalink: /:year/:month/:day/:title.html

markdown: kramdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge
  extensions: fenced_code_blocks
  math_engine: mathjax
  parse_block_html: true

# post to shown in the recent posts in frontpage
front_page_post: 10

# pagination for notes
plugins:
  - jekyll-paginate
paginate_path: notes/page-:num
paginate: 50

source: .
destination: ./_site

excerpt_separator: <!--more-->

# short note collections
collections:
  notes:
    output: true
    permalink: /notes/:year:month:day:hour:minute:second

# header navigation
navigation:
  - name: 主页
    url: /
  - name: 归档
    url: /archive.html
  - name: 分类
    url: /categories.html
  - name: 标签
    url: /tags.html
  - name: 收藏
    url: /collections.html
#  - name: 碎语
#    url: /notes.html
  - name: 搜索
    url: /search.html

# table of contents set up
toc_max: 3

# config for Algolia search
algolia:
   application_id: "IVH7JFNAZ7"
   index_name: "xienotes"
   search_only_api_key: "c9518e033e1e16df88a55d9df7824da7"
   extensions_to_index: 
      - html
      - md
   nodes_to_index: 'p,blockquote,li,code'
   files_to_exclude: [index.html, archive.html, tags.html, categories.html, search.html] 