---
layout: default
title: 分类
---

<h2>分类</h2>

{% assign sort_cat = site.categories | sort %}

{% for category in sort_cat %}
  <a href="#{{ category[0] | slugify }}">
    {{ category[0] | slugify }}<sup>{{ category[1].size }}</sup>
  </a>&ensp;
{% endfor %}

{% for category in sort_cat %}
  <h3 id="{{ category[0] | slugify }}" class="post-category">{{ category[0] | slugify }} </h3>
  <ul class="category-post-list">
    {% for post in category[1] %}
    <li>
      <span>{{ post.date | date: '%Y-%m-%d' }}</span>&nbsp;
      <a href="{{ site.baseurl }}{{ post.url }}"> 
        {{ post.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}
