---
layout: default
---
{% capture my_include %}
  {% include homeintro.md %}
{% endcapture %}
{{ my_include | markdownify }}

<section>
  <h2>最近博文</h2>
  <ul class="post list-unstyled" style="list-style-type:none;padding-left:0px;margin-left:0px;margin-right:0px;">
      {% for post in site.posts limit: site.front_page_post %}
 
        <li style="margin-bottom: 20px;">
          <span class="post-date" style="color:rgb(120, 120, 120);font-weight:500;">{{ post.date|date: "%Y-%m-%d" }}</span>
          <br>
        <a class="index-post-title" href='{{ site.baseurl }}{{ post.url }}' title='{{ post.title }}' style="font-size:large;font-weight:500;">
             {{ post.title }} 
        </a> 
        <br>
        <p class="post-excerpt" style="margin-top:3px;">
           {{ post.excerpt | strip_html | truncate: 233, '...'}} 
        </p>
        </li>

      {% endfor %}
  </ul>
  {% assign numposts = site.posts | size %}
  {% if numposts > site.front_page_post %}
      <p>
          <a href="{{ site.base }}/archive.html">更多&hellip;</a>
      </p>
  {% endif %}
</section>


{% comment %}


{% for post in paginator.posts %}
<section>
  <h2>
    <a href='{{ site.baseurl }}{{ post.url }}' title='{{ post.title }}'>
      {{ post.title }}
    </a>
  </h2>
  
  <p>{{ post.excerpt | strip_html | truncate: 500 }}</p>
</section>
{% endfor %}

{% if paginator.previous_page %}
<a href='{{ site.baseurl }}{{ paginator.previous_page_path }}'>前一页</a>
{% endif %}

&mdash; {{ paginator.page }} / {{ paginator.total_pages }} &mdash;

{% if paginator.next_page %}
<a href='{{ site.baseurl }}{{ paginator.next_page_path }}'>后一页</a>
{% endif %}

{% endcomment %}
