<style>
    a.site-name {
        color:black;
        text-decoration: none;
    }

    a.nav-item {
        color:blue;
        font-size: large;
        text-decoration: none;
    }
    .active {
        font-weight: bold;
    }
</style>

<header>
    <h1><a class="site-name" href='{{ site.baseurl }}/'>{{ site.name }}</a></h1>
</header>
<nav class="header-navigation" id="nav-bar">
    {%- for navitem in site.navigation -%}
        {% if forloop.last %}
        <a class="nav-item" href='{{ site.baseurl }}{{ navitem.url }}'> {{ navitem.name }}</a> 
        {% else %}
        <a class="nav-item" href='{{ site.baseurl }}{{ navitem.url }}'> {{ navitem.name }}</a> |
        {% endif %}
    {%- endfor -%}
</nav>
<hr>