<header class="site-header">
    <div class="site-name">
        <a class="site-name-text" href='{{ site.baseurl }}/'>{{ site.name }}</a>
    </div>
    <nav class="header-navigation">
        {%- for navitem in site.navigation -%}
            {% if forloop.first %}
                {% assign currentUrl = page.url %}
            {% else %}
                {% assign currentUrl = page.url | append: ".html"%}
            {% endif %}
            <span class="nav-item">
                <a  href='{{ navitem.url }}' {% if currentUrl == navitem.url %}class="active"{% endif %}>{{ navitem.name | strip }}</a>
            </span>            
        {%- endfor -%}
    </nav>
</header>