ul.homepage-post-list {
    list-style-type: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul.year-post-list,
ul.tag-post-list,
ul.category-post-list {
    margin-top:5px;
}

h3.post-year,
h3.post-tag,
h3.post-category {
    margin-bottom:5px;
}
h3.recent-post {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
}

li.post-list {
    margin-bottom: 25px;
}
.homepage-post-metadata {

}
.post-date {
    color:rgb(120, 120, 120);
    font-weight:500;
}
a.homepage-post-title {
    font-size:large;
    font-weight:500;
}
p.post-exerpt {
    margin-top: 0px !important;
}

.note-container {
    /*margin-left: 40px; */
    /* margin-right: 100px; */
    margin-bottom: 30px;
    border-bottom: 0.3px solid #d8d8d8;
    box-shadow: 5px 5px 5px #d8d8d8;
    border-radius: 10px 10px 0px 0px;
}
.note-container p {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.note-date {
    color:rgb(22, 22, 22);
    font-weight:500;
    background-color: #d8d8d8;
    padding: 2px 15px 2px 15px; 
    border-radius: 10px 10px 0px 0px;
    border: 0.3px solid #d8d8d8;
}

.note-content-container {
    padding-left: 10px;
    padding-right: 10px;
}
a.note-link {
    opacity: 0;
    text-decoration: none;
}

a.note-link:hover {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;
}

.pagination {
    text-align: center;
}


.gray-previous,
.gray-next {
    color: gray;
}

code {
    font-family: inherit;
    border: 1px solid #e7eaed;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    background-color: #f8f8f8;
}

p.more {
    font-size: 1.2em;
}

.spacer {
    height: 10px;
}

@media screen and (max-width: 768px) {
    .note-date {
        padding: 2px 10px 2px 10px; 
    }
    .note-container {
        margin-left: 0px;
        margin-right: 5px;
    }
    .note-content-container {
        padding-left: 5px;
        padding-right: 5px;
    }    
}