ul.homepage-post-list {
    list-style-type: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul.year-post-list,
ul.tag-post-list,
ul.category-post-list {
    margin-top:5px;
}

h3.post-year,
h3.post-tag,
h3.post-category {
    margin-bottom:5px;
}
h3.recent-post {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #eee;
}

li.post-list {
    margin-bottom: 25px;
}
.homepage-post-metadata {

}
.post-date {
    color:rgb(120, 120, 120);
    font-weight:500;
}
a.homepage-post-title {
    font-size:large;
    font-weight:500;
}
p.post-exerpt {
    margin-top: 0px !important;
}

.note-container {
    margin-bottom: 20px;
}
.note-container p {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.note-date {
    color:rgb(120, 120, 120);
    font-weight:500;
}

.note-content-container{
    background-color: #f8f8f8;
    border-radius: 4px;
}

code {
    border: 1px solid #e7eaed;
    border-radius: 3px;
    padding: 0;
    padding: 2px 4px 0px 4px;
    font-size: 0.9em;
    background-color: #f8f8f8;
}