ul.homepage-post-list {
    list-style-type: none !important;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul.year-post-list,
ul.tag-post-list,
ul.category-post-list {
    margin-top:5px;
}

.archive-post-title {
    white-space: nowrap;
    overflow-x: auto;
    margin-right: 5px;
}

h3.post-year,
h3.post-tag,
h3.post-category {
    margin-bottom:5px;
}
.year-count {
    font-size: medium;
    font-weight: normal;
    color: gray;
}

.note-count {
    font-size: 1.0rem;
    font-weight: normal;
    color: gray;
}

h3.recent-post {
    margin-top: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

li.post-list {
    margin-bottom: 25px;
}
.post-date {
    color:rgb(120, 120, 120);
    font-weight:500;
}
a.homepage-post-title {
    font-size:large;
    font-weight:500;
}
p.post-exerpt {
    margin-top: 0px !important;
}

.note-container {
    /*margin-left: 40px; */
    margin-right: 5px;
    margin-bottom: 30px;
    border-radius: 5px 5px 3px 3px;
    display: flex;
}
.note-container p {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.note-date {
    color:rgb(80,80,80);
    font-weight:500;
    background-color: #e8e8e8;
    padding: 2px 15px 2px 15px; 
    /* border-radius: 3px 3px 3px 3px; */
    border-bottom: 0.2px solid #d8d8d8;
    border-top: 0.2px solid #d8d8d8;
    box-shadow: 3px 3px 3px #d8d8d8;
    margin-left: 15px;
    flex: 1;
    order: 2;
    align-self: flex-start;
}

.note-content-container {
    border: 0.2px solid #d8d8d8;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 5px 5px 5px #d8d8d8;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 65%;
    order: 1;
}
a.note-link {
    opacity: 0;
    text-decoration: none;
}

a.note-link:hover {
    color: black;
    opacity: 1;
    transition: opacity 0.2s ease-in-out 0.1s;
}

.pagination {
    text-align: center;
    width: 65%;
    margin-left: 0px;
    margin-right: auto;
}

.page-input {
    width: 35px;
    height: 16px;
    text-align: center;
}
#myBtn {
    border: none;
    color: black;
    background-color: #e7e7e7;
    padding: 1.0px 5px;
}
.gray-previous,
.gray-next {
    color: gray;
}

p.more {
    font-size: 1.2em;
}

.spacer {
    height: 10px;
}

@media screen and (max-width: 768px) {
    .note-date {
        padding: 2px 10px 2px 10px;
        order: 1;
        margin-left: 0px;
        box-shadow: 0px 0px 0px #d8d8d8;
        border: 0.2px solid #d8d8d8;
    }
    .note-container {
        margin-left: 0px;
        margin-right: 2px;
        flex-direction: column;
        
    }
    .note-content-container {
        padding-left: 5px;
        padding-right: 5px;
        width: 0 0 100%;
        order: 2;
        border-radius: 0px 3px 3px 3px;
    }
    .pagination {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}