h1 {
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}
img + em { 
    display: block;
    max-width: 100%;
    text-align: center;
    color: rgb(77,77,77);
}

img + strong { 
    display: block;
    max-width: 100%;
    text-align: center;
    color: rgb(77,77,77);
}

.post-metadata {
    color:rgb(120, 120, 120);
    margin-bottom: 20px;
}

.post-toc {
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #efefef;
    border: 0.2px solid #eee;
    border-radius: 3px;
}

.post-toc ul {
    margin-top: 5px;
}

.toc-title {
    margin-left:20px;
}
h3#toc-heading {
    margin-top: 6px;
    margin-bottom: 0px;
}

.post-content p {
    text-align: justify;
    text-justify: inter-ideograph;
}

iframe {
    display: block;
    margin: auto;
    width: 80%;
}