---
layout: default
title: 碎语
---
<h2>碎语 <span class="note-count">共 {{ site.posts | where:"layout","note" | size }} 条</span></h2>

<div class="note-container">
  <div class="note-date">
    &#128204 <a class="note-link" id="currentdate"></a>
  </div>
  <div class="note-content-container" id="xiaopu">
  </div>
</div>

<!-- This loops through the paginated posts -->
{% assign notes = paginator.posts | where_exp: "page","page.layout=='note' "%}
{% for note in notes %}
{% capture noteid %}{{ note.date | date: "%Y%m%d" | append: note.slug | strip }}{% endcapture %} 

{% assign weekday = note.date | date:"%A" %}
{% case weekday %}
  {% when "Monday" %}
    {% assign zhweekday = "星期一" %}
  {% when "Tuesday" %}
    {% assign zhweekday = "星期二" %} 
  {% when "Wednesday" %}
    {% assign zhweekday = "星期三" %}
  {% when "Thursday" %}
    {% assign zhweekday = "星期四" %} 
  {% when "Friday" %}
    {% assign zhweekday = "星期五" %} 
  {% when "Saturday" %}
    {% assign zhweekday = "星期六" %} 
  {% when "Sunday" %}
    {% assign zhweekday = "星期日" %}
  {% else %} 
    {% assign zhweekday = "Wrong date" %}        
{% endcase %}

<div class="note-container">
    <div class="note-date" id={{ noteid }}>
      <a class="note-link" href="{{ note.url }}" title="note anchor">{{ note.date | date: "%Y-%m-%d %H:%M"}} {{ zhweekday }}</a>
    </div>
    <div class="note-content-container">
        {{ note.content }}
        
        {% if note.mf-photo %}
           {% for img in note.mf-photo%}
            {% if site.jsdelivr.enabled %}
                <img class="note-image" src={{img | replace: "https://xienotes.net", site.jsdelivr.url }} alt="">
            {% else %}
               <img class="note-image" src={{img | replace: "https://xienotes.net",""}} alt="">
            {% endif %}
           {% endfor %}
        {% endif %}

        {% comment %}
        {% capture imgfile %}{{ note.date | date: "%Y%m%d" | append: note.slug}}{% endcapture %}
        {% for img in site.static_files %}
          {% if img.path contains "/assets/notes/" and img.name contains imgfile %}
            {% if site.jsdelivr.enabled %}
              <img class="note-image" src= {{site.jsdelivr.url | append: img.path}} alt="">
            {% else %}
              <img class="note-image" src={{img.path}} alt="">
            {% endif %}
          {% endif %}
        {% endfor %}
        {% endcomment %}
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; 上一页</a>
  {% else %}
    <span class="gray-previous">&laquo; 上一页</span>
  {% endif %}
  {% comment %}
  <span class="page_number ">
    {{ paginator.page }}/{{ paginator.total_pages }}
  </span>
  {% endcomment %}
  <input id="pageinput" class="page-input" value="" placeholder="{{ paginator.page }}/{{ paginator.total_pages }}">
  {% comment %}
  <button id="myBtn" onclick="pageRedirect()">Go</button>
  {% endcomment %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页&raquo;</a>
  {% else %}
    <span class="gray-next ">下一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}
  
{% include modalImage.html %}


{% if site.jsdelivr.enabled %}
    <script src="{{site.jsdelivr.url}}/assets/js/notePageRedirect.js"></script>
{% else %}
    <script src="/assets/js/notePageRedirect.js"></script>
{% endif %}

<script>
  const date1 = new Date('2/2/2021');
  const date2 = new Date();
  const diffTime = date2 - date1;
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

  var today  = new Date();
  date3 = today.toLocaleDateString("en-US", {timeZone: "Asia/Shanghai", year:'numeric'}) + '-'+ today.toLocaleDateString("en-US", {timeZone: "Asia/Shanghai", month:'numeric'}) + '-'+ today.toLocaleDateString("en-US", {timeZone: "Asia/Shanghai", day:'numeric'});
  var currenttime = document.getElementById("currentdate");
  currenttime.innerHTML = date3;

  var daycount = document.getElementById("xiaopu");
  daycount.innerHTML= "小朴今天 "+ diffDays + " 天啦~";
</script>