---
layout: default
title: 碎语
---
<h2>碎语</h2>

<!-- This loops through the paginated posts -->
{% assign notes = paginator.posts | where_exp: "page","page.layout=='note' "%}
{% for note in notes %}
{% capture noteid %}{{ note.date | date: "%Y%m%d" | append: note.slug | strip }}{% endcapture %} 

<div class="note-container">
    <div class="note-date" id={{ noteid }}>
        {{ note.date | date: "%Y-%m-%d %H:%M"}}
        <a class="note-link" href="#{{ noteid }}" title="note anchor">anchor</a>
    </div>
    <div class="note-content-container">
        {{ note.content }}
        
        {% capture imgfile %}{{ note.date | date: "%Y%m%d" | append: note.slug}}{% endcapture %}
        {% for img in site.static_files %}
          {% if img.path contains "/assets/notes/" and img.name contains imgfile %}
            <img class="note-image" src={{img.path}} alt="">
          {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        &laquo; 上一页
    </a>
  {% else %}
    {% comment %}
    <span class="previous">&laquo; 上一页</span>
    {% endcomment %}
  {% endif %}
  &nbsp;
  <span class="page_number ">
    {{ paginator.page }}/{{ paginator.total_pages }}
  </span>&nbsp;
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页&raquo;</a>
  {% else %}
    {% comment %}
    <span class="next ">下一页 &raquo;</span>
    {% endcomment %}
  {% endif %}
</div>