---
layout: default
title: 碎语
---
<h2>碎语 <span class="note-count">共 {{ site.posts | where:"layout","note" | size }} 条</span></h2>

<!-- This loops through the paginated posts -->
{% assign notes = paginator.posts | where_exp: "page","page.layout=='note' "%}
{% for note in notes %}
{% capture noteid %}{{ note.date | date: "%Y%m%d" | append: note.slug | strip }}{% endcapture %} 

<div class="note-container">
    <div class="note-date" id={{ noteid }}>
        {{ note.date | date: "%Y-%m-%d %H:%M"}}
        <a class="note-link" href="#{{ noteid }}" title="note anchor">#</a>
    </div>
    <div class="note-content-container">
        {{ note.content }}
        
        {% capture imgfile %}{{ note.date | date: "%Y%m%d" | append: note.slug}}{% endcapture %}
        {% for img in site.static_files %}
          {% if img.path contains "/assets/notes/" and img.name contains imgfile %}
            {% if site.jsdelivr.enabled %}
              <img class="note-image" src= {{site.jsdelivr.url | append: img.path}} alt="">
            {% else %}
              <img class="note-image" src={{img.path}} alt="">
            {% endif %}
          {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
        &laquo; 上一页
    </a>
  {% else %}
    <span class="gray-previous">&laquo; 上一页</span>
  {% endif %}
  &nbsp;
  <span class="page_number ">
    {{ paginator.page }}/{{ paginator.total_pages }}
  </span>
  <input id="pageinput" class="page-input" value="" placeholder="页码">
  <button id="myBtn" onclick="pageRedirect()">Go</button>
  &nbsp;
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页&raquo;</a>
  {% else %}
    <span class="gray-next ">下一页 &raquo;</span>
  {% endif %}
</div>
{% endif %}
  
{% include modalImage.html %}

<script src="/assets/js/notePageRedirect.js"></script>
