<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>
    
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>
        @media screen and (max-width: 560px) {
            ul,ol {
                padding-left: 20px;
            }
        }
    </style>
</head>

<body style="width:100%;max-width: 740px;margin:0 auto;">
    <div class="container" style="padding-left: 10px;padding-right: 10px;" >

        {% include header.html %}
        {{ content }}
    

        <hr>
<!-- footer -->
{% assign currentYear = "now" | date: '%Y' %}
{% if currentYear != "2020" %}
    <p style="margin-top:3px;"><small> Copyright©2020-{{ "now" | date: '%Y' }} by xieyn </small></p>
{% else %}
    <p style="margin-top:3px;"><small> Copyright©2020 by xieyn </small></p>
{% endif %}

    </div>
</body>
</html>