---
layout: default
---
{% if site.highlighter %}
<link rel='stylesheet' href='{{ site.baseurl }}/assets/syntax.css' type='text/css'>
{% endif %}

{% include mathjax.html %}

<h1>{{ page.title }}</h1>

<span class="publish date" style="color:rgb(153, 153, 153);">
     发表日期：<i>{{ page.date | date: "%Y-%m-%d" }}</i> 
</span>

{% comment %}
{% if page.tags %}
    <span>
    {% for tags in page.tags %}
        {{ tags | slugify }}
    {% endfor %}
    </span>
{% endif %}
{% endcomment %}

<div class='separator' style="height: 20px;"></div>

{{ content }}
        
{% comment %}
{% if site.disqus-id %} {% include comments.html %} {% endif %}
{% endcomment %}