<!DOCTYPE html>
<html>

{%- include head.html -%}

<body>
    <div class="container">
        {% include header.html %}
        
        <div class="page-content">

        <h1 class="post-title">{{ page.title }}</h1>

        <div class="post-metadata" >
        <span>
             发布日期：{{ page.date | date: "%Y-%m-%d %H:%M" }}
            {% if page.category %}
                <span>
                    &thinsp; 分类:
                    <a class="post-category" href="{{ site.baseurl }}/categories.html#{{ page.category | slugify | strip }}">{{ page.category | slugify | strip }}</a>
                </span>
            {% endif %}
            {% if page.tags %}
                <span>
                    &ensp; 标签:&nbsp;
                    {% for tags in page.tags %}
                    <a class="post-tag" href="{{ site.baseurl }}/tags.html#{{ tags | slugify | strip }}">{{ tags | slugify | strip }}</a>&thinsp;
                    {% endfor %}
                </span>
            {% endif %}
        </span>
        </div>
        
        <div class="post-content">        
            {% if page.toc %}
            <div class="post-toc" >
            {% include toc.html html=content h_max=site.toc_max %}
            </div>
            {% endif %}        
            {{ content }}
        </div>
        
        
        {% include footer.html %}
        
        </div>
        {% include mathjax.html %}
    </div>
</body>
</html>